/* XS */
h1 {
  color: pink;
}
/* SM */
@media (min-width: 576px) {
  h1 {
    color: lightblue;
  }
}
/* MD */
@media (min-width: 768px) {
  h1 {
    color: lightgreen;
  }
}

.container-fluid {
  background-color: #888;
}

.cor1{
  background-color: blue;
}

.cor2{
  background-color: green;
}

.cor3{
  background-color: purple;
}

.cor4{
  background-color: red;
}

.col-4{
    color: black;
  }